# Ignore Visual Studio files
HabitTracker.h
HabitTracker.ico
HabitTracker.rc
Resource.h
framework.h
small.ico
targetver.h
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vscode/
out/
build/
Debug/
Release/